body{
    margin:0;
    padding:0;
}

#controlLayout{
	width: 15%;
	padding: 10% 0;
	margin: 0;
	float: left;
	text-align: center;
}

#refreshBtn{
	width: 80%;
	font-size: 110%;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}

#logLayout{
	width: 25%;
	padding: 0;
	margin: 0;
	text-align: center;
	float: right;
	background-color: blue;
}

#logChat{
	width: 100%;
	font-size: 110%;
	background-color: red;
}

#gameLayout{
	width: 60%;
	padding: 0;
	margin: 0 auto;
	
}

#pageHeader{
    margin: 0 auto;
    font-family:"Lucida Console";
    text-align:center;
}

#board{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

footer{
	clear: both;
	text-align: center;
}