body{
    margin:0;
    padding:0;
}

#controlLayout{
	width: 15%;
	padding: 10% 0;
	margin: 0;
	float: left;
	text-align: left;
}

#refreshBtn{
	width: 80%;
	font-size: 110%;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
	margin-left: 20%;
}

#player2Btn, #player1Btn{
	width: 80%;
	font-size: 110%;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
	margin-top: 5%;
	margin-left: 20%;
}

#AI1Btn, #AI2Btn{
	width: 80%;
	font-size: 95%;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
	margin-top: 5%;
	margin-left: 20%;
	display: none;
}

#player1Tag{
	font-size: 110%;
	margin-top: 20%;
	font-weight: bold;
	font-family: sans-serif;
	margin-left: 20%;
}

#player2Tag{
	font-size: 110%;
	font-weight: bold;
	font-family: sans-serif;
	margin-left: 20%;
}

#player1Level, #player2Level{
	font-size: 110%;
	font-weight: bold;
	font-family: sans-serif;
	margin-left: 30%;
	margin-top: -10%;
	display: none;
}

#playerTurn{
	font-size: 110%;
	margin-top: 20%;
	font-weight: bold;
	font-family: sans-serif;
	color: red;
	margin-left: 20%;
}

#logLayout{
	width: 25%;
	padding: 0;
	margin: 0;
	text-align: center;
	float: right;
	overflow: scroll;
	font-size: 110%;
	font-family: sans-serif;
	text-align: left;
}

#gameLayout{
	width: 60%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

#pageHeader{
    margin: 0 auto;
    font-family:"Lucida Console";
    text-align:center;
}

#board{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#editCredits{
	font-size: 90%;
	font-weight: bold;
	font-family: sans-serif;
	margin-right: 10%;
}